/* BASE */
body {
  background: #283f79;
  /* Old browsers */
  background: -moz-linear-gradient(top, #283f79 0%, #88516f 11%, #ed6f5e 24%, #ee864c 43%, #f4ba65 54%, #009db3 67%, #009db3 80%, #428a9d 91%, #00838f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #283f79), color-stop(11%, #88516f), color-stop(24%, #ed6f5e), color-stop(43%, #ee864c), color-stop(54%, #f4ba65), color-stop(67%, #009db3), color-stop(80%, #009db3), color-stop(91%, #428a9d), color-stop(100%, #00838f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #283f79 0%, #88516f 11%, #ed6f5e 24%, #ee864c 43%, #f4ba65 54%, #009db3 67%, #009db3 80%, #428a9d 91%, #00838f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #283f79 0%, #88516f 11%, #ed6f5e 24%, #ee864c 43%, #f4ba65 54%, #009db3 67%, #009db3 80%, #428a9d 91%, #00838f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #283f79 0%, #88516f 11%, #ed6f5e 24%, #ee864c 43%, #f4ba65 54%, #009db3 67%, #009db3 80%, #428a9d 91%, #00838f 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #283f79 0%, #88516f 11%, #ed6f5e 24%, #ee864c 43%, #f4ba65 54%, #009db3 67%, #009db3 80%, #428a9d 91%, #00838f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#283f79', endColorstr='#00838f',GradientType=0 );
  /* IE6-9 */
  background-repeat: no-repeat;
  font-family: "courier_primeregular";
  margin: auto;
  padding: auto; }

p, h1, h2, h3, h4, h5, h6 {
  font-family: "courier_primeregular";
  color: black; }

p {
  display: inline; }

hr {
  border-top: 5px solid black; }

ul {
  list-style: none; }

ul li {
  display: inline; }

/* unvisited link */
a:link {
  text-decoration: none; }

/* visited link */
a:visited {
  text-decoration: none; }

/* mouse over link */
a:hover {
  text-decoration: line-through;
  color: black; }

/* selected link */
a:active {
  text-decoration: none; }

/* LAYOUT */
.footer-li a {
  color: black; }

.main-li a {
  color: black; }

.footer-li {
  font-size: 1.5vw;
  padding-top: 4px;
  padding-bottom: 0px;
  padding-right: 6px;
  padding-left: 6px;
  background-color: white; }

.footer-center {
  text-align: center;
  margin: auto;
  margin-right: 40px; }

.mobile-footer-li {
  font-size: 1.8em;
  padding-top: 4px;
  padding-bottom: 0px;
  padding-right: 6px;
  padding-left: 6px; }

.mobile-footer-li a {
  color: white; }

.bottom-mobile-nav {
  font-size: 1.3em;
  padding-top: 4px;
  padding-bottom: 0px;
  padding-right: 6px;
  padding-left: 6px; }

.bottom-mobile-nav a {
  color: black; }

.main-li {
  background-color: white;
  font-size: 2.5vw;
  padding-top: 4px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-left: 5px; }

.main-nav {
  background-color: white;
  color: black;
  padding: 12px;
  margin: 4px;
  width: 100%;
  /* 170px */
  font-size: 1.2em; }

.left-nav {
  border-left: 5px solid black;
  border-bottom: 5px solid black; }

.right-nav {
  border-right: 5px solid black;
  border-bottom: 5px solid black; }

.mobile-nav ul li {
  display: block;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 15px;
  margin: 7px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  width: 100%; }

.mobile-nav ul li a {
  color: black;
  font-size: 1.6em; }

/*tablet nav */
.tablet-top-nav {
  border-left: 5px solid black;
  border-top: 5px solid black; }

.tablet-right-nav {
  border-right: 5px solid black;
  border-top: 5px solid black; }

.tablet-rightbottom-nav {
  border-right: 5px solid black;
  border-bottom: 5px solid black; }

.h1-title-style {
  border-bottom: 5px solid black;
  color: black; }

.social-buttons {
  float: right; }

.active {
  text-decoration: line-through; }

.main-nav-shift ul {
  margin-right: 40px; }

.mobile-nav {
  display: none; }

.center-nav {
  margin: auto;
  padding: auto;
  text-align: center;
  width: 100%; }

.top-layout-style {
  color: white;
  text-align: center;
  border-bottom: 5px solid black;
  font-size: 4.2vw; }

.l00kb00k-nav-style {
  background-color: white;
  border-left: 8px solid black;
  border-top: 8px solid black;
  border-bottom: 8px solid black;
  color: black; }

.l00kb00k-nav-style h1 {
  margin-left: 25px;
  margin-bottom: 15px;
  font-size: 2.5vw; }

.l00kb00k-nav-style nav ul li {
  border: 5px solid black;
  padding-top: 11px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 7px; }

.l00kb00k-nav-style nav ul li a {
  color: black;
  font-size: 1.7vw; }

.align-center {
  margin: auto; }

.about-style {
  width: 900px; }

/*
.email-style {
	background-color: $main-color2;
	border: 5px solid $main-color;
	text-align: center;
	font-size: 1.5em;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}
*/
.top-product-style {
  color: white;
  text-align: center;
  font-size: 4.2vw; }

/* STYLES FOR PRODUCT STORE */
.product-h1 {
  background-color: white;
  border: 5px solid black;
  color: black;
  padding-top: 4px;
  padding-left: 10px;
  text-align: center; }

.buy-h1 {
  background-color: white;
  border: 5px solid black;
  color: black;
  padding-top: 4px;
  padding-left: 10px;
  text-align: center;
  margin-bottom: 19px; }

.product-info-style {
  border-bottom: 5px solid black;
  text-align: center; }

.other-product-style {
  border-bottom: 5px solid black;
  text-align: center;
  margin-bottom: 17px; }

.info-style {
  background-color: white;
  padding: 10px;
  margin-top: 17px; }

.info-style2 {
  background-color: black;
  color: white; }

.bottom-product-style {
  margin-top: 10px; }

.product-border {
  background-color: white;
  border: 5px solid black; }

/* Contact Page styles  */
.general-info {
  font-size: 1.5em;
  color: black; }

/* Video EMBed responsive code */
.responsive-vid {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 60px;
  overflow: hidden; }

.responsive-vid iframe,
.responsive-vid object,
.responsive-vid embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* END OF = Video EMBed responsive code */
/* MODULE */
/* STATE */
/* THEME */
/* FORM */
input, textarea {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  border: black solid 3px;
  font-size: 2em;
  color: black;
  background-color: white; }

label {
  margin-bottom: 0px;
  font-size: 1.5em; }

.error {
  color: white; }

form {
  width: 100%; }

.val-style {
  text-align: center; }
